body img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
}
body .pubdate {
    border-bottom: none;
    text-align:left;
}
figcaption {
    text-align: center;
}
.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
